<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ken's Forum</title>
</head>
<body>
    <h1>Forum placeholder</h1>
    <form action="#" th:action="@{/forum}" th:object="${message}" method="post">
        <p>Author: <input type="text" id="author" name="author" value="" /></p>
        <p>Message: <input type="text" id="content" name="content" value="" /></p>
        <p><input type="submit" value="Post message" /></p>
    </form>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var comments = /*[[${comments}]]*/ {"failed to load comments"};
        var authors = /*[[${authors}]]*/ {"failed to load comments"};
        var messages = /*[[${messages}]]*/ {"failed to load comments"};
        for (i=authors.length-1; i>=0; --i){
            console.log(authors[i]+" : "+messages[i]);
            document.writeln(authors[i]+" : "+messages[i]);
            document.writeln("<hr/>");
        }
    /*]]>*/
    </script>
</body>
</html>