<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is home jajaja</title>
</head>
<body>
	<h1>Something about climate</h1>
	<p>global warming</p>
	<h2>Story#1: Taipei</h2>
	<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
	<h2>Story#2: Amazon</h2>
	<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
	<p>This is <b>bold text</b></p>
	<p>This is <i>italic text</i></p>
	<img src="imgs/steampunk.jpg" height="600" width="1100"/>
	<p>One gigabyte is 2<sup>30</sup> bytes</p>
	<p>The amount of CO<sub>2</sub> in the atmosphere is growing rapidly</p>
	<p>
		ET
		<br/>
		phone home
	</p>
	<p>section 1</p>
	<hr/>
	<p>section 2</p>
	<hr/>
	<p>section 3</p>
    <button type="button", onclick="location.href='/forum'">Go to forum</button>
    <button type="button", onclick="location.href='/battle'">Watch yaboi's online pokemon battle replays</button>
</body>
</html>
